parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src
    bootstrapFiles:
        - %currentWorkingDirectory%/vendor/autoload.php
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#PHPDoc tag#'
        - '#no typehint specified#'
