parameters:
    level: max
    bootstrapFiles:
        - %currentWorkingDirectory%/vendor/autoload.php
    paths:
        - %currentWorkingDirectory%/src
    tmpDir: tmp
    checkMissingIterableValueType: false
